@media screen and (max-width: 767px) {
  .cardset {
    &__item:not(:last-child) {
      margin-bottom: 30px;
    }

    &__thumb-text {
      top: 77px;
    }
  }
}

@media screen and (max-width: 479px) {
  .cardset {
    &__thumb-text {
      top: 15px;
      left: 15px;
      right: 15px;
      bottom: 15px;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
    }
  }
}
