@media screen and (min-width: 0px) and (max-width: 479px) {
  .clients {
    &__title {
      margin-bottom: 30px;
    }

    &__item:not(:last-child) {
      margin-bottom: 30px;
    }

    &__link {
      width: 100%;
    }
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .clients {
    &__title {
      margin-bottom: 30px;
    }
  
    &__list {
      display: flex;
      flex-wrap: wrap;
      margin: -15px;
    }
  
    &__item {
      width: calc((100% - 4 * 15px) / 2);
      margin: 15px;
    }
  
    &__link {
      width: 210px;
    }
  }
}

