@media screen and (max-width: 767px) {
  .experience {
    &__item:not(:last-child) {
      margin-bottom: 30px;
    }

    &__title {
      text-align: center;
    }
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .experience {
    &__item {
      max-width: 480px;
    }
  }
}

@media screen and (min-width: 0px) {
  .experience {
    &__text {
      font-family: $primary-font;
      font-size: 14px;
      line-height: 1.7;
      letter-spacing: 0.03em;
      color: $text-color;
    }
  }
}
