@media screen and (min-width: 480px) and (max-width: 767px) {
  .experience {
    &__item {
      width: 450px;
      margin-bottom: 30px;
    }

    &__item:last-child {
      margin-bottom: 0;
    }

    &__title {
      text-align: center;
    }
  }  
}

@media screen and (min-width: 480px) {
  .experience {
    &__text {
      font-family: $primary-font;
      font-size: 14px;
      line-height: 1.7;
      letter-spacing: 0.03em;
      color: $text-color;
    }
  }
}