@media screen and (max-width: 1199px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 767px) {
  .filter {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    margin-top: -15px;

    &__item {
      margin-top: 15px;
      margin-right: 8px;
    }

    &__item:last-child {
      margin-right: 0;
    }
  }
}
