@media screen and (min-width: 480px) and (max-width: 767px) {
  .footer { 
    &__box-adress {
      width: 232px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 60px;
      text-align: center;
    }
  }
}
  
@media screen and (min-width: 480px) and (max-width: 767px) {
  .box-links {
    margin-bottom: 60px;
  }
}
  
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .join {
    text-align: center;
  }
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .subscription {
    &__form {
      text-align: center;
    }
  
    &__form-label {
      display: block;
      margin-bottom: 20px;
    }
  
    &__form-input {
      margin-bottom: 20px;
    }
  }
}