@media screen and (min-width: 0px) and (max-width: 767px) {
  .page-header {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .container {
    width: 100%; 
  }

  .container-hedear {
    width: 100%;
    z-index: 1;
  }
  
  .menu-btn {
    position: absolute;
    z-index: 3;
    top: 10px;
    right: 15px;
    width: 40px;
    height: 40px;
    padding: 0;
    border-radius: 50%;
    border: none;
    background-color: transparent;
  }

  .btn-close-menu {
    height: 40px;
  }

  .menu-btn .icon-cross {
    display: block;
  }

  .menu-btn.is-open .icon-cross {
    display: none;
  }

  .menu-btn.is-open .icon-menu {
    display: block;
  }

  .menu-btn .icon-menu {
    display: none;
  }

  .menu-btn:hover .icon-cross,
  .menu-btn:focus .icon-cross {
    fill: $accent-color;
  } 
  
  .menu-btn:hover .icon-menu,
  .menu-btn:focus .icon-menu {
    fill: $accent-color;
  }
}

