@media screen and (min-width: 0px) and (max-width: 1199px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
    
    &__title {
      font-size: 26px;
      line-height: 1.6;
    }
  }
}