@media screen and (min-width: 0px) and (max-width: 767px) {
  .team {
    &__title {
      font-size: 28px;
      line-height: 1.17;
      margin-bottom: 30px;
    }
  
    &__info {
      padding-bottom: 24px;
    }
  
    &__item {
      margin-bottom: 30px;
    }
  
    &__item:last-child {
      margin-bottom: 0;
    }
  }
}