@media screen and (min-width: 768px) and (max-width: 1199px) {
    .cardset {
      display: flex;
      flex-wrap: wrap;
      margin: -15px;
  
      &__item {
        flex-basis: calc((100% - 4 * 15px) / 2);
        margin: 15px;
      }
  
      &__link {
        display: flex;
        flex-direction: column;
        height: 100%;
      }
  
      &__meta {
        flex-grow: 1;
      }
    } 
  }