@media screen and (min-width: 768px) and (max-width: 1199px) {
    .contact-info {
      flex-direction: column;
  
      &__item {
        display: flex;
      }
  
      &__item:not(:last-child) {
        margin-bottom: 10px;
      }
  
      &__link {
        font-size: 12px;
        line-height: 14px;
      }
  
      &__mail-icon {
        width: 14px;
        height: 10px;
      }
  
      &__mail-icon,
      &__phone-icon {
        margin-right: 8px;
      }
  
      &__phone-icon {
        width: 10px;
        height: 14px; 
      }
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .container-contact {
      margin-top: 21px;
      margin-bottom: 21px;
    }
  }