@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 768px;
  }
  
  .container-hedear {
    justify-content: space-between;
    height: 80px;
  }
}

@media screen and (min-width: 768px) {
  .container-hedear {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

