@media screen and (min-width: 767px) and (max-width: 1199px) {
  .hero {
    max-width: 1199px;
    background-image: url('../images/tablet/hero-t1x.jpg');
    background-size: cover;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: url('../images/tablet/hero-t2x.jpg');
    }
  }
}
