.container-contact {
  // margin-left: auto;
  margin-top: 32px;
}

.contact-info {
  display: flex;

  &__item {
    // margin-right: 50px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    font-family: $primary-font;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: $text-color;
    transition: color 250ms $timing-function;

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }

  &__mail-icon {
    fill: $text-color;
    margin-right: 10px;
    width: 16px;
    height: 12px;
    cursor: pointer;
    transition: fill 250ms $timing-function;

    &:hover,
    &:focus {
      fill: $accent-color;
    }
  }

  &__phone-icon {
    fill: $text-color;
    margin-right: 10px;
    cursor: pointer;
    transition: fill 250ms $timing-function;

    &:hover,
    &:focus {
      fill: $accent-color;
    }
  }

  &__link:hover &__mail-icon {
    fill: $accent-color;
  }

  &__link:focus &__mail-icon {
    fill: $accent-color;
  }

  &__link:hover &__phone-icon {
    fill: $accent-color;
  }

  &__link:focus &__phone-icon {
    fill: $accent-color;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .container-contact, .contact-info {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact-info {
    flex-direction: column;

    &__item {
      display: flex;
    }

    &__item:not(:last-child) {
      margin-bottom: 10px;
    }

    &__link {
      font-size: 12px;
      line-height: 14px;
    }

    &__mail-icon {
      width: 14px;
      height: 10px;
    }

    &__mail-icon,
    &__phone-icon {
      margin-right: 8px;
    }

    &__phone-icon {
      width: 10px;
      height: 14px; 
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container-contact {
    margin-top: 21px;
    margin-bottom: 21px;
  }
}
