.container-contact {
  margin-left: auto;
  margin-top: 32px;
}

.contact-info {
  display: flex;
  list-style: none;
  padding: 0;

  &__item {
    margin-right: 50px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    font-family: $primary-font;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: $text-color;
    transition: color 250ms $timing-function;

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }

  &__mail-icon {
    width: 16px;
    height: 12px;
  }

  &__phone-icon {
    width: 10px;
    height: 16px;
  }

  &__mail-icon {
    fill: $text-color;
    margin-right: 10px;
    cursor: pointer;
    transition: fill 250ms $timing-function;

    &:hover,
    &:focus {
      fill: $accent-color;
    }
  }

  &__phone-icon {
    fill: $text-color;
    margin-right: 10px;
    cursor: pointer;
    transition: fill 250ms $timing-function;

    &:hover,
    &:focus {
      fill: $accent-color;
    }
  }

  &__link:hover &__mail-icon {
    fill: $accent-color;
  }

  &__link:focus &__mail-icon {
    fill: $accent-color;
  }

  &__link:hover &__phone-icon {
    fill: $accent-color;
  }

  &__link:focus &__phone-icon {
    fill: $accent-color;
  }
}
