.experience {
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc(100% / 4);
  list-style: none;
  padding: 0;

  &__item {
    margin-right: 30px;
    width: 270px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__background-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 120px;
    margin-bottom: 30px;
    background-color: $icon-bg-color;
    border-radius: 4px;
  }

  &__icon {
    width: 70px;
    height: 70px;
  }

  &__title {
    font-family: $primary-font;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    color: $color-of-headers;
    margin-bottom: 10px;
  }

  &__text {
    font-family: $primary-font;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: $text-color;
  }
}
