.logo {
  font-family: $secondary-font;
  color: $color-of-headers;
  transition: color 250ms $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  &__text {
    color: $accent-color;
  }

  &--footer-logo {
    display: block;
    color: $logo-footer-color;
  }
}
