$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$page-bg-color: #ffffff;
$img-bg-color: #eeeeee;
$icon-bg-color: #f5f4fa;
$bg-hero-color: #2f303a;
$footer-color: #2f303a;
$color-of-headers: #212121;
$color-of-headers-secondary: #ffffff;
$text-color: #757575;
$text-color-secondary: #ffffff;
$accent-color: #2196f3;
$accent-color-secondary: #188ce8;
$logo-color: #2196f3;
$logo-footer-color: #ffffff;
$card-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
  0px 1px 3px 0px rgba(0, 0, 0, 0.12);

$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Raleway', sans-serif;
