@media screen and (min-width: 1200px) {
  .container-contact {
    margin-top: 32px;
    margin-left: auto;
  }
  
  .contact-info {
    &__item:not(:last-child) {
      margin-right: 50px;
    }

    &__link {
      font-weight: 500;
      font-size: 14px;
      line-height: 100%;
      letter-spacing: 0.02em;
    }

    &__mail-icon {
      width: 16px;
      height: 12px;
    }

    &__phone-icon {
      width: 10px;
      height: 16px;
    }

    &__phone-icon,
    &__mail-icon {
      margin-right: 10px;
    }
  }
}