@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .activity {
    padding-top: 0;
  }
}
  
@media screen and (min-width: 1200px) {
  .experience {
    display: flex;

    &__item {
      width: 270px;
    }

    &__item:not(:last-child) {
      margin-right: 30px;
    }
  }
}