@media screen and (min-width: 1200px) {
  .filter {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: 611px;
  
    &__item {
      display: contents;
    }
  }
}