@media screen and (min-width: 1200px) {
  .footer {
    &__box {
      position: relative;
      display: flex;
    }

    &__box-adress {
      width: 231px;
    }
  }
  
  .box-links {
    display: flex;
    flex-direction: column;
    padding-top: 10px; 
    margin-left: 70px;
  }
  
  .subscription {
    display: flex;
    margin-left: 93px;
    padding-top: 12px;
  
    &__form {
      display: flex;
      flex-direction: column;
    }

    &__form-input {
      width: 358px;
    }
  }
}